{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["react", "jsx-a11y", "import"],
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": 0,
    "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"] }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "object-curly-newline": "off",
    "comma-dangle": [2, "always-multiline"],
    "arrow-parens": [2, "always"],
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/no-extraneous-dependencies": "off",
    "react/prefer-stateless-function": "off"
  }
}
