.code-box {
  position: relative;
}

.code-box.code-box-show {
  margin-top: 14px;
  border-top: 1px dashed #ebedf0;
}

.code-box .code-expand-icon {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  top: -16px;
  right: 0;
}

.code-box .code-expand-icon img {
  max-width: 100%;
  width: 100%;
}

.code-box.code-box-show .code-expand-icon {
  top: -30px;
}

.code-box pre {
  background: inherit !important;
}

.play-ground .code-expand-icon {
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
.play-ground .code-expand-icon img {
  max-width: 100%;
  width: 100%;
}

.CodeMirror.cm-s-solarized.cm-s-light {
  margin-top: 15px;
  border-top: 1px dashed #ebedf0;
  background-color: inherit !important;
  box-shadow: none !important;
  height: auto;
}

.ant-layout-sider-zero-width-trigger {
  z-index: 1000;
}
